*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.header{
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  background-color:navy;
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  color: white;
  padding: 0 40px;
  &__name{
    font-size: 25px;
    text-align: center;
    display: block;
    width: 30%;
    margin: 0 auto 0 0;
    line-height: 60px;
  }
  &__menu{
    float: right;
    display: flex;
    line-height: 60px;
    &__left{
      padding-right: 20px;
      color: white;
    }
    &__right{
    }
  }
}

.contents{
  padding-top: 60px;
  &__title{
    font-size: 30px;
    text-align: center;
    margin: 50 auto;
    padding-top: 20px;
  }
  &__search{
    height: 60px;
    width: 400px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    &__field{
      float: left;
      width: 100%;
      line-height: 30px;
      padding:10px 15px;
      box-sizing: border-box;
      box-shadow:2px 2px 0px 0px rgba(0,0,0,0.2);
      border-radius:15px;
    }
  }
  &__item{
    height: 150px;
    width: 550px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius:5px;

    &__image{
      height: 120px;
      width: 120px;
      padding: 10px;
      img{
        border-radius:5px;

      }
      .hidden{
        display: none;
      }
    }
    &__content{
      width: 270px;
      padding: 0 20px 10px;
      &__name{
        font-size: 25px;
        color: black;
      }
      &__price{
        display: flex;

        &__sell{
          padding: 40px 0px 0px;
          color: gray;
        }
        &__cost{
          padding: 30px 30px;
          font-size: 28px;
          color: darkblue;
        }
      }
    }
    &__stock{
      padding: 45px 0 0 20px;
      &__circle{
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: darkblue;
        text-align:center;
        line-height: 55px;
        color: white;
        border: none;
      }
    }
  }
}

.materials{
  font-size: 23px;
  height: 100px;
  width: 550px;
  margin: 0 auto;


  .material{
    display: flex;
    border: thin solid rgb(203, 213, 219);
    border-radius:5px;
    height: 70px;
    text-align:center;

    &__image{
      width: 70px;
    }
    &__name{
      width: 230px;
      line-height: 70px;
    }
    &__price{
      width: 150px;
      line-height: 70px;
    }
    &__value{
      line-height: 70px;
    }
    &__unit{
      line-height: 70px;
    }
    

  }
}